{% extends 'base.html.twig' %}

{% block titre %}<H1> Stage {{stage.id}} </H1>{% endblock %}

{% block contenu %}
<blockquote class="blockquote text-center">
    <div class="row">
        <div class="col-md-12">
            <h3>Intitulé : {{stage.titre}}</h3>
        </div>
    </div>
</blockquote>
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 29rem;">
            <img src="/img/ent1.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{stage.entreprise.nom}}</h5>
                <p class="card-text">{{stage.entreprise.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{stage.entreprise.adresse}}</li>
                <li class="list-group-item">{{stage.personneAContacter}}</li>
                <li class="list-group-item">{{stage.mailContact}}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4" style="margin-top:100px;">
        <div class="card" style="width: 29rem;">
            <div class="row">
                <div class="col-md-4"><img src="/img/cible.png" class="card-img-top" width=25%></div>
                <div class="col-md-8" style="margin-top:40px;">
                    <h3>La Mission:</h3>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text"><h3>Description de la mission au sein de l'entreprise:</h3>
                    {{stage.descriptionMission}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6"  style="margin-top:100px;">
                <h3> Formation exigée : </h3>
            </div>
            <div class="col-md-6">
                {%for formation in stage.formations %}
                {% if formation.nom == "DUT Informatique" %}
                <img src="/img/bulleDUT.png" class="card-img-bottom" width=25%>
                {% elseif formation.nom == "DUT TIC" %}
                <img src="/img/bulleLicencePro.png" class="card-img-bottom" width=25%>
                {% else %}
                <img src="/img/bulleDUT.png" class="card-img-bottom" width=25%>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-2 offset-md-10" style="margin-top:100px;">
                    <a href="/stages"><img src="/img/fleche.png" width=20%>Retour</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}